

.bgimage{
    background-image: url(/assets/Coocked.png);
    background-size: cover;
}

.bg-purple{
    background-color: #C9ACFF;
}

.cardplaceleft{
    width: 420px;
    position: absolute;
    left: 350px;
    bottom: 70px
}

.cardplaceright{
    width: 420px;
    position: absolute;
    right: 350px;
    bottom: 70px
}

.Btn{
    
    position: absolute;
    left: 260px;
    bottom: 5px
}
