

.bgimage{
    background-image: url(/assets/Coocked.png);
    background-size: cover;
}

.bg-purple{
    background-color: #C9ACFF;
}

.cardplace{
    width: 400px;
    position: absolute;
    left: 390px;
    bottom: 70px
}