
@font-face {
    font-family: Jersey10;
    src: url(/assets/Jersey10-Regular.ttf);
}
.bgimage{
    background-image: url(/assets/Coocked.png);
    background-size: cover;
}

.bg-purple{
    background-color: #C9ACFF;
}
.bgbutton{
    background-color: #7820D3;
}

.cardplaceleft{
    width: 420px;
    position: absolute;
    left: 350px;
    bottom: 70px
}

.cardplaceright{
    width: 420px;
    position: absolute;
    right: 350px;
    bottom: 70px
}

.cardplacecenter{
    width: 455px;
    position: center;
    
    
}

.title{
    font-size: 40px;
}

.Btn{
    
    position: absolute;
    left: 260px;
    bottom: 5px
}

body {
    background-image: url(../assets/PS.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.whitefont{
    color: white;
}

.font{
font-family: Jersey10;
color: black;
}
.size{
    font-size: 40px;
}

.imgsize{
    width: 430px;
    height: 450px;
}

.modalfix{
    background-color: #343232;
    width: 600px;
}